<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список контактов</title>
</head>
<body>
    <header>
        <h1 style="text-align: center">Список контактов</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
